<!-- Plant / Remarks form -->
<%= form_for(@plants_pub) do |f| %>
  <% if @plants_pub.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plants_pub.errors.count, "error") %> prohibited this result from being saved:</h2>

      <ul>
      <% @plants_pub.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class='container'>
    
    <div class='col-md-6'>
      <div class="field">
        <%= f.label :plant %><br>
        <%= autocomplete_field_tag :plant,'', autocomplete_plant_name_plants_path,
              placeholder: "search plants...",
              class: 'form-control',
              id_element: '#plants_pub_plant_id' %>
        <%= f.hidden_field :plant_id, value: f.object.plant_id %>
        <%= f.hidden_field :pub_id, value: f.object.pub_id %>
      </div>
      <% if @plants_pub.plant %>
        You can move this table to a different plant by entering the name above. If you don't want to change the plant, leave the field empty.
      <% end %>
      <div class='field'></div>
    </div>
    <div class='col-md-6'>
      <div class="field">
        <%= f.label :remarks %><br>
        <%= f.text_area :remarks, class: 'form-control' %>
      </div>
      <div class="field">
        <%= f.label :notes %><br>
        <%= f.text_area :notes, class: 'form-control' %>
      </div>
    </div>
    
    <div class='col-md-12' style='margin-top:1em'>
      <div class="actions">
        <%= f.submit class: 'btn btn-primary' %>
      </div>
    </div>
    
  </div>

<% end %>

<br/><br/>

<% unless @plants_pub.new_record?%>
<!-- New result form -->
<div class='container'>
  <div class='panel panel-default'>
    <div class="panel-heading">Manage Datapoints</div>
    <div class='panel-body'>
      
      <div class='container'>
        <%= render :partial => 'result_form', locals: {result: @result, plants_pub_id: @plants_pub.id} %>
      </div>
      
      <br class='clear'/>
      <div class='container'>
        <div class='col-lg-12'>
          <!-- Result listing -->
          <div class='panel table-responsive'>
          	<table class="table table-striped">
          	  <thead>
                <th>Measure</th>
          			<th>Name</th>
                <th>Notation</th>
          	    <th>Value</th>
          	    <th>Unit</th>
                <th></th>
          	  </thead>
          	  <tbody>
          	    <% @results.each do |r| %>
                <% result = (r.draft? ? r.draft.reify : r) %>
          	    <tr>
                	<td><%= result.measure.try :type %></td>
          				<td><%= result.measure.try :name %></td>
                	<td><%= link_to_if result.measure.is_a?(FattyAcid), result.measure.try(:delta_notation), result.measure %></td>
          	      <td><%= result.value.to_f.round(2) %></td>
          	      <td><%= '*' if result.old_mol_val %> <%= result.unit %></td>
                  <td>
                    <% if r.draft? %>
                      <%= link_to "<span style='margin-right:1em' class='#{r.draft.event}-tag'>#{r.draft.create? ? "New" : r.draft.destroy? ? "Delete" : "Update" }</span>".html_safe, draft_path(r.draft)%>
                    <% end %>
                    <a href='#' style='margin-right:1em' onclick='$("#result_<%= result.id %>").toggle();event.preventDefault()'><i class='glyphicon glyphicon-edit'></i></a>
                    <%= link_to "<i class='glyphicon glyphicon-remove-circle'></i>".html_safe, result, method: :delete, data: {confirm: 'Remove this result from the table?'} %>
                  </td>
          	    </tr>
                <tr style='display:none' id="result_<%= result.id %>">
                  <td colspan='6'>
                  <%= render :partial => 'result_form', locals: {result: result, plants_pub_id: @plants_pub.id} %>
                  </td>
                </tr>
          	    <% end %>
          	  </tbody>
          	</table>
          </div>  
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>