<!-- Plant / Remarks form -->
<%= form_for(@plants_pub) do |f| %>
  <% if @plants_pub.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plants_pub.errors.count, "error") %> prohibited this result from being saved:</h2>

      <ul>
      <% @plants_pub.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class='container'>
    
    <div class='col-md-6'>
      <div class="field">
        <%= f.label :plant %><br>
        <%= autocomplete_field_tag :plant,'', autocomplete_plant_name_plants_path,
              placeholder: "search plants...",
              class: 'form-control',
              id_element: '#plants_pub_plant_id' %>
        <%= f.hidden_field :plant_id, value: f.object.plant_id %>
        <%= f.hidden_field :pub_id, value: f.object.pub_id %>
      </div>
      <% if @plants_pub.plant %>
        You can move these items to a different plant by entering the name above. If you don't want to change the plant, leave the field empty.
      <% end %>
      <div class='field'></div>
    </div>
    
    <div class='col-md-12' style='margin-top:1em'>
      <div class="actions">
        <%= f.submit class: 'btn btn-primary' %>
      </div>
    </div>
    
  </div>

<% end %>

<br/><br/>
<h2>Datasets</h2>
<%= link_to "Add New Dataset", new_dataset_path(plants_pub_id: @plants_pub.id), class: 'btn btn-primary' %>  
<br/><hr/>

<% @plants_pub.datasets.each do |d|%>
  <%= render partial: 'datasets/result_panel', locals: {dataset: d} %>
<% end %>