<div class='row'>
	<div class='col-md-8'>
		<ul class="pagination">
			<%= paginate @results %>
		</ul>
	</div>
</div>

<div class='panel table-responsive'>
	
	<div class="panel-heading clearfix">
		<div class='pull-right'><%= page_entries_info @results %></div>
	</div>
	
	<table class="table table-striped">
	  <thead>
      <th><%= sortable "measures.type", "Measure" %></th>
			<th><%= sortable "measures.name", "Name" %></th>
      <th><%= sortable "measures.delta_notation", "Notation" %></th>
	    <th><%= sortable 'value' %></th>
	    <th><%= sortable 'unit' %></th>
      <th></th>
	  </thead>
	  <tbody>
	    <% @results.each do |result| %>
	    <tr>
      	<td><%= result.measure.try :type %></td>
				<td><%= result.measure.try :name %></td>
      	<td><%= link_to_if result.measure.is_a?(FattyAcid), result.measure.try(:delta_notation), result.measure %></td>
	      <td><%= result.value.to_f.round(2) %></td>
	      <td><%= '*' if result.old_mol_val %> <%= result.unit %></td>
        <td>
          <% if (xref = result.dataset.dbxref_value) && result.dataset.dbxref %>
            <%= result.dataset.dbxref.generate_link(xref) %>
          <% end %>
        </td>
	    </tr>
	    <% end %>
	  </tbody>
	</table>
</div>

<% unless @results.map(&:old_mol_val).compact.empty? %>
	<div class='pull-right'>
		<i>* Converted from mol %</i>
	</div>
<% end %>