<% content_for :title do -%>
 PhyloFAdb: <%= @plant.genus %> <%= @plant.species %> <%= "- #{@plant.common_name}" if @plant.common_name %> data
<% end -%>

<% content_for :description do -%>
 Plant fatty acid compositions and phylogenetics. <%= @plant.genus %> <%= @plant.species %> <%= "- #{@plant.common_name}" if @plant.common_name %>
<% end -%>

<% content_for :top_bar do %>
  <% unless @plants_pub.published? %>
    <p class='bg-warning'>This is an unpublished draft. <%= link_to 'Click here to view all draft data', drafts_path %></p>
  <% end %>
  <%= render :partial => "header", locals: {pub: @pub, plant: @plant} %>
  <% if @plants_pub.remarks %>
    <b>Remarks:</b> <br/>
    <%= @plants_pub.remarks %>
  <% end %>
<% end %>

<% content_for :item_bar do %>
  <% if can? :edit, @plants_pub %>
    <%= link_to 'Edit', edit_plants_pub_path(@plants_pub), class: 'btn btn-primary' %>
  <% end %>
<% end %>

<h2 class='smalltitle'>Results</h2>
<%= render partial: "results", locals: {results: @results} %>

