<%= form_for(@trivial_name) do |f| %>
  <% if @trivial_name.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trivial_name.errors.count, "error") %> prohibited this trivial_name from being saved:</h2>

      <ul>
      <% @trivial_name.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit class: 'button' %>
  </div>
<% end %>
