<% content_for :top_bar do %>
	<h1 class="pagetitle">Dbxrefs</h1>
<% end %>

<% content_for :item_bar do %>
    <%= link_to 'New Dbxref', new_dbxref_path, class: 'btn btn-primary' if can? :create, Dbxref %>
<% end %>

<div class='panel table-responsive'>
	
  <table class='table table-striped'>
    <thead>
      <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Link</th>
          <th>Datasets</th>
          <th>Options</th>
      </tr>
    </thead>

    <tbody>
      <% @dbxrefs.each do |dbxref| %>
        <tr>
            <td><%= dbxref.name %></td>
            <td><%= dbxref.description %></td>
            <td><%= dbxref.link %></td>
            <td><%= dbxref.datasets.count %></td>
            <td>
						<% if can? :edit, dbxref %>
           		<%= link_to 'Edit', edit_dbxref_path(dbxref) %>
						<% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% if (unknown_count = Dataset.where(dbxref_id: nil).count) > 0 %>
  <div class='well'>
    <b>Unassigned Datasets:<%= unknown_count %></b>
  </div>
<% end %>