<% content_for :top_bar do %>
	<h1 class="pagetitle">Publications</h1>
<% end %>

<% content_for :item_bar do %>
    <%#= link_to 'New Publication', new_publication_path, class: 'btn btn-primary'%>
    <%= link_to 'Download', params.merge(format: 'csv'), class: 'btn btn-primary'%>
<% end %>

<%= render 'shared/page_and_search', items: @publications  %>

<div class='panel panel-primary table-responsive'>
	
	<div class="panel-heading clearfix">
		<div class='pull-left'><%= page_entries_info @publications %></div>
	</div>
	
  <table class='table table-striped'>
    <thead>
      <tr>
        <th style="width:15%"><%= sortable "plant.family", "Plant" %></th>
        <th style="width:5%"><%= sortable "year" %></th>
        <th style="width:15%"><%= sortable "authors" %></th>
        <th style="width:15%"><%= sortable "journal" %></th>
        <th style="width:5%"><%= sortable "volume" %></th>
        <th style="width:5%"><%= sortable "page" %></th>
        <th style="width:25%"><%= sortable "remarks" %></th>
        <th style="width:5%;white-space:nowrap"><%= sortable "result_count", "Data points" %></th>
        <th style="width:10%">Options</th>
      </tr>
    </thead>

    <tbody>
      <% @publications.each do |publication| %>
        <tr>
          <td><%= publication.plant.try :display_name %></td>
          <td><%= publication.year %></td>
          <td><%= publication.authors %></td>
          <td><%= publication.journal %></td>
          <td><%= publication.volume %></td>
          <td><%= publication.page %></td>
          <td><%= publication.remarks %></td>
          
          <td><%= link_to publication.results.count, results_path(publication_id: publication.id) %></td>
          <td style="white-space:nowrap">
            <%= link_to 'Show', publication %> |
            <%= link_to 'Edit', edit_publication_path(publication) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>