<h1 class='pagetitle'>History</h1>

<div class='panel table-responsive'>
  <%= left_dropdown_select "type", :version_type, [['Plant','Plant'],['PublicationTable','PlantsPub'],['Publication','Pub'],['FattyAcid','Measure']]%>
  <%= left_dropdown_select "event", :version_event, ['create','update','destroy']%>
  <%= left_dropdown_select "user", :version_user, @version_user_ids%>
  <%= left_dropdown_select "results", :show_result_versions, [['Show Results','true']]%>
  <br class='clear'/>
	<ul class="pagination">
		<%= paginate @versions, :param_name => :version_page %>
	</ul>
  
	<div class='pull-right'><%= page_entries_info @versions %></div>
  <table class='table table-striped table-centered'>
    <thead>
      <tr>
				<th style='min-width:130px'>Time</th>
				<th>Type</th>
				<th>Item</th>
        <th>Action</th>
        <th>User</th>
        <th>Changeset</th>
      </tr>
    </thead>
    <tbody>
      
      <% @versions.each do |version| %>
        <tr>
          <td><%= local_time version.created_at %></td>
          <td><%= version.item_type %></td>
          <td>
            <% if version.event=='destroy' %>
              <% version.item_id %>
            <% else %>
              <%= link_to version.item.try(:display_name)||version.item_id, version.item %>
            <% end %>
          </td>
          <td><%= version.event %></td>
          <td><%= User.find_by(id: version.whodunnit).try(:email) %></td>
          <td>
            <div style='max-height:100px;overflow:auto'>
              <% if version.event=='destroy' %>
                <%= version.reify.inspect %>
              <% else %>
                <%=h version.changeset %>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>