<% content_for :top_bar do %>
	<h1 class="pagetitle">Users</h1>
<% end %>

<% content_for :item_bar do %>
    <% if can? :create, User %> <%= link_to 'New User', new_user_path, class: 'btn btn-primary'%> <% end %>
<% end %>

<%= render 'shared/page_and_search', items: @users  %>

<div class='panel table-responsive'>
	
	<div class="panel-heading clearfix">
		<div class='pull-right'><%= page_entries_info @users %></div>
	</div>
	
  <table class='table table-striped'>
    <thead>
      <tr>
      	<th>Email</th>
				<th>Role</th>
				<th>Created</th>
				<th>Last Login</th>
				<th>Options</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
        	<td><%= user.email %></td>
					<td><%= user.role%></td>
        	<td><%= user.created_at.strftime("%c") if user.created_at %></td>
        	<td><%= user.current_sign_in_at.strftime("%c") if user.current_sign_in_at%></td>
					<td><%= link_to "Edit", edit_user_path(user) %></td>
      	</tr>
      <% end %>
    </tbody>
  </table>
</div>