<% content_for :top_bar do %>
	<h1 class="pagetitle"><%= @user.email %></h1>
<% end %>

<% content_for :item_bar do -%>
	<% if current_user.is_admin? %>
		<%= link_to 'Show All Users', users_path, class: 'btn btn-primary' %>
	<% end %>
<% end -%>
	



<p>
  <strong>Created:</strong>
  <%= @user.created_at %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.role %>
</p>


<%= link_to 'Change Password / Email', edit_user_path(@user), class: 'btn btn-primary' %>
