<div class='row'>
	<div class='col-md-4 search pull-right'>
    <%= form_tag nil, method: :get do %>
      <div class='form-inline pull-right'>
		    <label for="query">Search:</label>
				<%= text_field_tag :query, params[:query], class: 'form-control' %>
				<%= submit_tag "Go", class: "btn btn-info "%>
			</div>
			<%= yield if block_given? %>
    <% end %>
	</div>
	<div class='col-md-8 pull-left'>
		<ul class="pagination">
			<%= paginate items %>
		</ul>
	</div>
</div>