<% content_for :title do -%>
  PlantFAdb
<% end -%>

<% content_for :description do -%>
  Exploring Phylogenetic Relationships between Hundreds of Plant Fatty Acids Synthesized by Thousands of Plants.
<% end -%>

<% content_for :body do -%>
	<div class="parallax-window" data-parallax="scroll" data-image-src="<%= image_path("green_flower.png") %>">
		<div class='row' style='height:600px'>
			<div class='caption-mid'>
				Hundreds of fatty acids
        synthesized by thousands <br/>
        of plants and their phylogenetic
        relationships
			</div>
		</div>
	</div>
	
	<div class="container" style='margin-top:3em'>

		<div class='row'>
			<div class="col-sm-12 col-md-4">
        <div class="highlight thumbnail">
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="10000">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <!-- <img src="..." alt="..."> -->
                <%= image_tag 'Slide1.png'%>
                <div class="carousel-caption">
                  <p>Phylogenetic distribution of Octanoic Acid</p>
                </div>
              </div>
              <div class="item">
                <%= image_tag 'Slide2.png'%>
                <div class="carousel-caption">
                  <p>Family level distribution of Octanoic Acid</p>
                </div>
              </div>
              <div class="item">
                <%= image_tag 'Slide3.png'%>
                <div class="carousel-caption">
                  <p>Species level distribution of Octanoic Acid</p>
                </div>
              </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
  				<div class='caption'>
  		      <h3>Phylogeny</h3>
  		      <p>
  						Explore relationships between unusual FA structures and plants that produce them.
  		      </p>
            <p><%= link_to "View Tree", tree_index_path, class: 'btn btn-primary' %></p>
  				</div>
        </div>
		  </div>
		  <div class="col-sm-12 col-md-4">
				<div class="highlight thumbnail">
					<div style='height:275px'><%= image_tag 'm_211.png', style: 'padding-top:75px'%></div>
					<div class='caption'>
			      <h3>Fatty Acids</h3>
			      <p>
							Structure images and info for >400 FA.
							Click Name to see species that produce a FA, publications, and data.
							Click 'Tree' to display phylogentic distribution of a FA</p>
			      <p><%= link_to "List FA", fatty_acids_path, class: 'btn btn-primary' %></p>
					</div>
		    </div>
		  </div>
		  <div class="col-sm-12 col-md-4">
				<div class="highlight thumbnail">
					<%= image_tag 'castor.jpg', style:'height:275px' %>
					<div class='caption'>
			      <h3>Plants</h3>
			      <p>
							FA analysis for > 7000 plants.
							Click on species for graphs of FA composition, oil content,
							and links to publications and individual data sets.</p>
			      <p><%= link_to "List Plants", plants_path, class: 'btn btn-primary' %></p>
					</div>
		    </div>
		  </div>
		</div>
		
		<hr/>
		
	</div>

  <div class='container'>
    <%= @page.try(:content).try(:html_safe) %>
  </div>
  
<% end -%>

