<% content_for :top_bar do %>
	<h1 class="pagetitle">Results</h1>
<% end %>

<% content_for :item_bar do %>
    <%= link_to 'New Result', new_result_path, class: 'button'%>
    <%= form_tag results_path, method: :get do %>
      <div style="float:right;padding-left:1em"><%= submit_tag "Go", class: "button"%></div>
      <div style="float:right">Search: <%= text_field_tag :query, params[:query] %></div>
    <% end %>
<% end %>
  <div class="pagination">
    <span style="float:left"><%= paginate @results %></span>
    <span style="float:right;margin-right:2em"><%= page_entries_info @results %> Matching Results</span>
  </div>

<div class='table'>
  <table class='listing'>
    <thead>
      <tr>
        <th><%= sortable "measures.type", "Measure" %></th>
        <th><%= sortable "measures.delta_notation", "Notation" %></th>
        <th><%= sortable "publications.authors", "Publication" %></th>
        <th><%= sortable "value" %></th>
        <th><%= sortable "unit" %></th>
        <!-- <th>Options</th> -->
      </tr>
    </thead>

    <tbody>
      <% @results.each do |result| %>
        <tr>
          <td><%= result.measure.type %></td>
          <td><%= result.measure.delta_notation %></td>
          <td><%= result.publication.display_name %></td>
          <td><%= result.value %></td>
          <td><%= result.unit %></td>         
            <!-- <td>
            <%= link_to 'Show', result %> |
            <%= link_to 'Edit', edit_result_path(result) %>
          </td> -->
        </tr>
      <% end %>
    </tbody>
  </table>
</div>