<% content_for :top_bar do %>
	<h1 class="pagetitle">Results</h1>
<% end %>

<% content_for :item_bar do %>
    <%= link_to 'Download', params.merge(format: 'csv'), class: 'btn btn-primary'%>
<% end %>

<%= render 'shared/page_and_search', items: @results  %>

<div class='panel panel-primary table-responsive'>
	
	<div class="panel-heading clearfix">
		<div class='pull-left'><%= page_entries_info @results %></div>
	</div>
	
  <table class='table table-striped'>
    <thead>
      <tr>
        <th><%= sortable "measures.type", "Measure" %></th>
        <th><%= sortable "measures.delta_notation", "Notation" %></th>
        <th><%= sortable "pubss.authors", "Publication" %></th>
        <th><%= sortable "value" %></th>
        <th><%= sortable "unit" %></th>
        <!-- <th>Options</th> -->
      </tr>
    </thead>

    <tbody>
      <% @results.each do |result| %>
        <tr>
          <td><%= result.measure.try :type %></td>
          <td><%= result.measure.try :delta_notation %></td>
          <td><%= link_to result.pub.display_name, result.pub if result.pub %></td>
          <td><%= result.value %></td>
          <td><%= result.unit %></td>         
            <!-- <td>
            <%= link_to 'Show', result %> |
            <%= link_to 'Edit', edit_result_path(result) %>
          </td> -->
        </tr>
      <% end %>
    </tbody>
  </table>
</div>