<% content_for :top_bar do %>
	<h1 class="pagetitle"><%= @result.measure.display_name %>: <%= @result.value %> <span class='small'><%= @result.unit %></span></h1>
<% end %>

<% content_for :top_bar do -%>
    <%= render :partial => "plants_pubs/header", locals: {pub: @result.pub, plant: @result.plant} %>
<% end -%>

<% content_for :item_bar do %>
	<%= link_to 'Back', results_path, class: 'btn btn-primary' %>
  <%= link_to 'Edit', edit_result_path(@result), class: 'btn btn-primary' %>
<% end %>

<%= link_to "View Dataset", plants_pub_path(@result.plants_pub), class: 'btn btn-primary' %>