<% content_for :top_bar do %>
	<h1 class="pagetitle">Result: <%= @result.id %></h1>
<% end %>

<% content_for :item_bar do %>
	<%= link_to 'Back', results_path, class: 'btn btn-primary' %>
  <%= link_to 'Edit', edit_result_path(@result), class: 'btn btn-primary' %>
<% end %>

<p>
  <strong>Value:</strong>
  <%= @result.value %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @result.unit %>
</p>

<p>
  <strong>Measure:</strong>
  <%= @result.measure %>
</p>

<p>
  <strong>Publication:</strong>
  <%= @result.publication %>
</p>




