<% content_for :top_bar do %>
	<h1 class="pagetitle">Sterol: <%= @sterol.id %></h1>
<% end %>

<% content_for :item_bar do %>
	<%= link_to 'Back', sterols_path, class: 'btn btn-primary' %>
  <%= link_to 'Edit', edit_sterol_path(@sterol), class: 'btn btn-primary' %>
<% end %>

<p>
  <strong>Delta notation:</strong>
  <%= @sterol.delta_notation %>
</p>

<p>
  <strong>Cas number:</strong>
  <%= @sterol.cas_number %>
</p>

<p>
  <strong>Sofa mol:</strong>
  <%= @sterol.sofa_mol_id %>
</p>

<hr/>
<%= render partial: "measures/results", locals: {results: @sterol.results} %>


