<h2 id='fa_results_table' class='smalltitle'>Results</h2>
<div class='row'>
	<div class='col-md-8'>
		<ul class="pagination">
			<%= paginate @results %>
		</ul>
	</div>
</div>

<div class='panel table-responsive'>
	
	<div class="panel-heading clearfix">
		<div class='pull-right'><%= page_entries_info @results %></div>
	</div>
	
	<table class="table table-striped">
	  <thead>
	    <th><%= sortable 'plants.genus', "Plant" %></th>
	    <th><%= sortable 'pubs.authors', "Publication" %></th>
	    <th style='width:10%'><%= sortable 'value' %></th>
	    <th style='width:10%'><%= sortable 'unit' %></th>
	  </thead>
	  <tbody>
	    <% @results.each do |result| %>
	    <tr>
	      <td><%= link_to result.plant.try( :display_name)||"Unknwon", result.plant if result.plant %></td>
	      <td><%= link_to result.pub.display_name, result.pub if result.pub %></td>
	      <td><%= result.value %></td>
	      <td><%= '*' if result.old_mol_val %> <%= result.unit %></td> 
	    </tr>
	    <% end %>
	  </tbody>
	</table>
</div>

<% unless @results.map(&:old_mol_val).compact.empty? %>
	<div class='pull-right'>
		<i>* Converted from mol %</i>
	</div>
<% end %>
