<% content_for :top_bar do %>
	<h1 class="pagetitle">Fatty Acids</h1>
<% end %>

<% content_for :item_bar do %>
    <%= link_to 'New Fatty acid', new_fatty_acid_path, class: 'button'%>
    <%= link_to 'Download', params.merge(format: 'csv'), class: 'button'%>
    <%= form_tag fatty_acids_path, method: :get do %>
      <div style="float:right;padding-left:1em"><%= submit_tag "Go", class: "button"%></div>
      <div style="float:right">Search: <%= text_field_tag :query, params[:query] %></div>
      <div style="float:right;padding-right:1em">
        Published: <%= select_tag :published, options_for_select(['true','false'], params[:published]), include_blank: "No filter" %>
      </div>
      <div style="float:right;padding-right:1em">
        Has Cas?: <%= select_tag :has_cas, options_for_select(['true','false'], params[:has_cas]), include_blank: "No filter" %>
      </div>
    <% end %>
<% end %>
  <div class='clear:both'>
    *CAS Registry Number is a Registered Trademark of the American Chemical Society: <%= link_to "http://www.cas.org/legal/infopolicy#authorized" %>
  </div>
  <br/>
  <div class="pagination">
    <span style="float:left"><%= paginate @fatty_acids %></span>
    <span style="float:right;margin-right:2em"><%= page_entries_info @fatty_acids %> Matching Results</span>
  </div>

<div class='table'>
  <table class='listing'>
    <thead>
      <tr>
        <th><%= 'Systematic Name(s)' %></th>
        <th><%= 'Trivial Name(s)' %></th>
        <th><%= sortable 'delta_notation', 'Delta notation' %></th>
        <th>External IDs</th>
        <th>Data Points</th>
        <th>Options</th>
      </tr>
    </thead>

    <tbody>
      <% @fatty_acids.each do |fatty_acid| %>
        <tr>
          <td><%= fatty_acid.systematic_names.map(&:name).join("<br/>").html_safe %></td>
          <td style='width:20%'><%= fatty_acid.trivial_names.map(&:name).join("<br/>").html_safe %></td>
          <td style='width:15%'><%= fatty_acid.delta_notation %></td>
          <td style='text-align:left;width:25%'>
              <span style='display:inline-block;width:8em'>CAS number:</span>
                <%= link_to fatty_acid.cas_number,
                "http://www.chem.sis.nlm.nih.gov/chemidplus/rn/#{fatty_acid.cas_number}",
                :target => '_blank' if fatty_acid.cas_number%><br/>
              <span style='display:inline-block;width:8em'>Sofa Mol:</span>
                <%= link_to fatty_acid.sofa_mol_id,
                "http://sofa.mri.bund.de/Show_ResultTable.php?Mol_ID=#{fatty_acid.sofa_mol_id}&Nota=MOL_ID",
                :target => '_blank' %><br/>
              <span style='display:inline-block;width:8em'>Lipid Map:</span>
                <%= link_to fatty_acid.lipidmap_id, "http://www.lipidmaps.org/data/LMSDRecord.php?LMID=#{fatty_acid.lipidmap_id}",
                :target => '_blank' if fatty_acid.lipidmap_id %><br/>
              <span style='display:inline-block;width:8em'>PubChem:</span>
                <%= link_to fatty_acid.pubchem_id,
                "https://pubchem.ncbi.nlm.nih.gov/compound/#{fatty_acid.pubchem_id}",
                :target => '_blank' if fatty_acid.pubchem_id%><br/>
              <span style='display:inline-block;width:8em'>ChEBI:</span>
                <%= link_to fatty_acid.chebi_id,
                "https://www.ebi.ac.uk/chebi/searchId.do?chebiId=CHEBI:#{fatty_acid.chebi_id}",
                :target => '_blank' if fatty_acid.chebi_id%><br/>
          </td>
          <td style='width:5%'><%= fatty_acid.result_count %></td>
          <td style='width:15%'>
            <%= link_to 'Show', fatty_acid %> |
            <%= link_to 'Edit', edit_fatty_acid_path(fatty_acid) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% content_for :footer do -%>
<% end -%>