<% content_for :top_bar do %>
	<h1 class="pagetitle">Fatty Acids</h1>
<% end %>

<% content_for :item_bar do %>
	<%= link_to 'Download', params.merge(format: 'csv'), class: 'btn btn-primary'%>
  <%#= link_to 'New Fatty acid', new_fatty_acid_path, class: 'btn btn-primary pull-left'%>
<% end %>

<span class='small'>Structures drawn at OPSIN (opsin.ch.cam.uk)</span>

<%= render 'shared/page_and_search', items: @fatty_acids  %>

<div class='panel panel-primary table-responsive'>
	
	<div class="panel-heading clearfix">
		<div class='pull-right'><%= page_entries_info @fatty_acids %></div>
		<%= left_dropdown_select "data", :has_data, [['Has data points','true'],['No data points','false']] %>
		<%= left_dropdown_select "registry number", :has_cas, [['Has CAS registry number','true'],['No CAS registry number','false']] %>
	</div>
	
  <table class='table table-striped table-centered'>
    <thead>
      <tr>
				<th style="width:300px">Structure</th>
				<th><%= sortable 'IUPAC Name' %></th>
				<th>Other Names</th>
				<th><%= sortable 'Formula' %></th>
				<th><%= sortable 'Mass' %></th>
				<th><%= sortable 'delta_notation', 'SOFA<br/>Delta Notation' %></th>
				<th><%= sortable 'sofa_mol_id', 'SOFA<br/>ID'%></th>
        <th><%= sortable 'result_count', 'Data<br/>Points'%></th>
				<th></th>
      </tr>
    </thead>

    <tbody>
      <% @fatty_acids.each do |fatty_acid| %>
        <tr>
					<td>
						<% if fatty_acid.image_link %>
							<%= link_to image_tag(fatty_acid.image_link), fatty_acid %>
						<% else %>
							<%= link_to image_tag("http://opsin.ch.cam.ac.uk/opsin/#{fatty_acid.name}.png"), fatty_acid if fatty_acid.name %>
						<% end %>
					</td>
					<td><%= link_to fatty_acid.name, fatty_acid if fatty_acid.name%></td>
					<td><%= truncate(fatty_acid.other_names,{length: 150}) %></td>
					<td style='white-space:nowrap'><%= fatty_acid.formula %></td>
					<td><%= fatty_acid.mass %></td>
          <td><%= fatty_acid.delta_notation %></td>
					<td><%= fatty_acid.sofa_mol_id %></td>
          <td><%= link_to fatty_acid.result_count, results_path(measure_id: fatty_acid.id) if fatty_acid.result_count %></td>
        	<td><%= link_to "Tree", plants_path(fmt: 'tree', measure_id: fatty_acid.id) if fatty_acid.result_count %></td>
				</tr>
      <% end %>
    </tbody>
  </table>
</div>

<% content_for :footer do -%>
<% end -%>