<% content_for :top_bar do %>
	<h1 class="pagetitle">Fatty Acids</h1>	
<% end %>

<% content_for :item_bar do %>
	<%= link_to 'Download', params.merge(format: 'csv'), class: 'btn btn-primary'%>
  <%#= link_to 'New Fatty acid', new_fatty_acid_path, class: 'btn btn-primary pull-left'%>
<% end %>

<%= render 'shared/page_and_search', items: @fatty_acids  %>

<div class='panel panel-primary table-responsive'>
	
	<div class="panel-heading clearfix">
		<div class='pull-right'><%= page_entries_info @fatty_acids %></div>
		<%= left_dropdown_select "data", :has_data, [['Has data points','true'],['No data points','false']] %>
		<%= left_dropdown_select "registry number", :has_cas, [['Has CAS registry number','true'],['No CAS registry number','false']] %>
	</div>
	
  <table class='table table-striped'>
    <thead>
      <tr>
        <th><%= 'Systematic Name(s)' %></th>
				<th><%= sortable 'Name' %></th>
				<th><%= sortable 'Formula' %></th>
        <th><%= 'Trivial Name(s)' %></th>
        <th><%= sortable 'delta_notation', 'Delta notation' %></th>
        <th>External IDs</th>
        <th>Data Points</th>
        <th>Options</th>
      </tr>
    </thead>

    <tbody>
      <% @fatty_acids.each do |fatty_acid| %>
        <tr>
          <td><%= fatty_acid.systematic_names.map(&:name).join("<br/>").html_safe %></td>
					<td><%= fatty_acid.name %></td>
					<td><%= fatty_acid.formula %></td>
          <td style='width:20%'><%= fatty_acid.trivial_names.map(&:name).join("<br/>").html_safe %></td>
          <td style='width:15%'><%= fatty_acid.delta_notation %></td>
          <td style='text-align:left;width:25%'>
              <span style='display:inline-block;width:8em'>CAS number:</span>
                <%= link_to fatty_acid.cas_number,
                "http://www.chem.sis.nlm.nih.gov/chemidplus/rn/#{fatty_acid.cas_number}",
                :target => '_blank' if fatty_acid.cas_number%><br/>
              <span style='display:inline-block;width:8em'>Sofa Mol:</span>
                <%= link_to fatty_acid.sofa_mol_id,
                "http://sofa.mri.bund.de/Show_ResultTable.php?Mol_ID=#{fatty_acid.sofa_mol_id}&Nota=MOL_ID",
                :target => '_blank' %><br/>
              <span style='display:inline-block;width:8em'>Lipid Map:</span>
                <%= link_to fatty_acid.lipidmap_id, "http://www.lipidmaps.org/data/LMSDRecord.php?LMID=#{fatty_acid.lipidmap_id}",
                :target => '_blank' if fatty_acid.lipidmap_id %><br/>
              <span style='display:inline-block;width:8em'>PubChem:</span>
                <%= link_to fatty_acid.pubchem_id,
                "https://pubchem.ncbi.nlm.nih.gov/compound/#{fatty_acid.pubchem_id}",
                :target => '_blank' if fatty_acid.pubchem_id%><br/>
              <span style='display:inline-block;width:8em'>ChEBI:</span>
                <%= link_to fatty_acid.chebi_id,
                "https://www.ebi.ac.uk/chebi/searchId.do?chebiId=CHEBI:#{fatty_acid.chebi_id}",
                :target => '_blank' if fatty_acid.chebi_id%><br/>
          </td>
          <td style='width:5%'><%= fatty_acid.result_count %></td>
          <td style='width:15%'>
            <%= link_to 'Show', fatty_acid %> |
            <%= link_to 'Edit', edit_fatty_acid_path(fatty_acid) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% content_for :footer do -%>
<% end -%>