<% content_for :top_bar do %>
	<h1 class="pagetitle"><%= @fatty_acid.name || @fatty_acid.delta_notation %> <small>(<%= @fatty_acid.formula %>)</small></h1>
<% end %>

<% content_for :item_bar do %>
	<%= link_to 'Back', fatty_acids_path, class: 'btn btn-primary' %>
  <%= link_to 'Edit', edit_fatty_acid_path(@fatty_acid), class: 'btn btn-primary' %>
<% end %>

<div class='row'>
	<div class='col-md-4'>
	  <p>
	    <strong>Delta notation:</strong>
	    <%= @fatty_acid.delta_notation %>
	  </p>
		
	  <p>
	    <strong>Other Names:</strong>
	    <%= @fatty_acid.other_names %>
	  </p>
		
		<p>
			<strong>External Database IDs:</strong><br/>
	    <span style='display:inline-block;width:7em'>CAS registry:</span>
	      <%= link_to @fatty_acid.cas_number,
	      "http://www.chem.sis.nlm.nih.gov/chemidplus/rn/#{@fatty_acid.cas_number}",
	      :target => '_blank' if @fatty_acid.cas_number%><br/>
	    <span style='display:inline-block;width:7em'>Sofa Mol:</span>
	      <%= link_to @fatty_acid.sofa_mol_id,
	      "http://sofa.mri.bund.de/Show_ResultTable.php?Mol_ID=#{@fatty_acid.sofa_mol_id}&Nota=MOL_ID",
	      :target => '_blank' %><br/>
	    <span style='display:inline-block;width:7em'>Lipid Maps:</span>
	      <%= link_to @fatty_acid.lipidmap_id, "http://www.lipidmaps.org/data/LMSDRecord.php?LMID=#{@fatty_acid.lipidmap_id}",
	      :target => '_blank' if @fatty_acid.lipidmap_id %><br/>
	    <span style='display:inline-block;width:7em'>PubChem:</span>
	      <%= link_to @fatty_acid.pubchem_id,
	      "https://pubchem.ncbi.nlm.nih.gov/compound/#{@fatty_acid.pubchem_id}",
	      :target => '_blank' if @fatty_acid.pubchem_id%><br/>
	    <span style='display:inline-block;width:7em'>ChEBI:</span>
	      <%= link_to @fatty_acid.chebi_id,
	      "https://www.ebi.ac.uk/chebi/searchId.do?chebiId=CHEBI:#{@fatty_acid.chebi_id}",
	      :target => '_blank' if @fatty_acid.chebi_id%><br/>
		</p>
	</div>
	<div id='structure' class='col-md-7' style='height:250px'>
	  <canvas class="ChemDoodleWebComponent" id="structureCanvas" alt="ChemDoodle Web Component">This browser does not support HTML5/Canvas.</canvas>
	</div>
</div>
<br/>
<div class='row'>
	<div class='col-md-12'>
	  <p>
	    <strong>inchi:</strong>
	    <%= @fatty_acid.inchi %>
	  </p>
	  <p>
	    <strong>stdinchi:</strong>
	    <%= @fatty_acid.stdinchi %>
	  </p>
	  <p>
	    <strong>stdinchikey:</strong>
	    <%= @fatty_acid.stdinchikey %>
	  </p>
	  <p>
	    <strong>smiles:</strong>
	    <%= @fatty_acid.smiles %>
	  </p>
	</div>
</div>

<hr/>
<%= render partial: "measures/results", locals: {results: @fatty_acid.results} %>

<script>
		var mol_cml = <%= @fatty_acid.cml.inspect.html_safe %>
		
		var structureCanvas;
		
	  $().ready(function(){
			ChemDoodle.default_atoms_useJMOLColors = true;
			ChemDoodle.default_backgroundColor = "rgb(206,193,113)";
			//ChemDoodle.default_atoms_useVDWDiameters_3D = true;
			//ChemDoodle.default_atoms_displayLabels_3D = true;
			ChemDoodle.default_bonds_showBondOrders_3D = true;
			structureCanvas = new ChemDoodle.TransformCanvas3D('structureCanvas', 200, 200);
			var mols = ChemDoodle.readCML(mol_cml);
			structureCanvas.loadMolecule(mols[0]);
			resizeChemDoodle();			
	  });
		
		$(window).resize(function () {
			resizeChemDoodle()
		});
		resizeChemDoodle = function(){	
			var width = $("#structure").width();
			var height = $("#structure").height();
			structureCanvas.resize(width,height);
		}
 </script>
<style>
#structure{
	border-bottom: 2px solid #5d5B32;
	padding: 0px;
}
</style>