<%= form_for(@plant) do |f| %>
  <% if @plant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plant.errors.count, "error") %> prohibited this plant from being saved:</h2>

      <ul>
      <% @plant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<fieldset>
		<legend>SOFA Data</legend>
	  <div class="field">
	    <b><%= f.label :sofa_family %></b>
	    <%= f.object.sofa_family %>
	  </div>
		
	  <div class="field">
	    <b><%= f.label :sofa_name %></b>
	    <%= f.object.sofa_name %>
	  </div>
	
	  <div class="field">
	    <b>Publications</b>
	    <%= link_to f.object.publications.count, publications_path(plant_id: f.object.id) %>
	  </div>
	
	  <div class="field">
	    <b>Results</b>
	    <%= link_to f.object.results.count, results_path(plant_id: f.object.id) %>
	  </div>
	</fieldset>
	<br/>
	<fieldset>
		<legend>TNRS Accepted data</legend>
	  <div class="field">
	    <b><%= f.label :tnrs_family %></b>
			<%= f.object.tnrs_family %>
	  </div>
	  <div class="field">
	    <b><%= f.label :tnrs_name %></b>
			<%= f.object.tnrs_name %>
	  </div>
	  <div class="field">
	    <b><%= f.label :accepted_rank %></b>
			<%= f.object.accepted_rank %>
	  </div>
	</fieldset>	

	<div style='float:left;width:25%'>
	  <div class="field">
	    <%= f.label :name_status %><br>
	    <%= f.text_field :name_status %>
	  </div>
	  <div class="field">
	    <%= f.label :matched_rank %><br>
	    <%= f.text_field :matched_rank %>
	  </div>
	</div>
	<div style='float:left;width:25%'>
	  <div class="field">
	    <%= f.label :family %><br>
	    <%= f.text_field :family %>
	  </div>
	  <div class="field">
	    <%= f.label :genus %><br>
	    <%= f.text_field :genus %>
	  </div>
	  <div class="field">
	    <%= f.label :species %><br>
	    <%= f.text_field :species %>
	  </div>
	</div>
	<div style='float:left;width:35%'>
	  <div class="field">
	    <%= f.label :tropicos_url %><br>
	    <%= f.text_area :tropicos_url, size: '60x5' %>
	  </div>
	  <div class="field">
	    <%= f.label :note %><br>
	    <%= f.text_area :note, size: '60x10' %>
	  </div>
	</div>

	<div class="actions;" style="clear:both">
	  <%= f.submit class: 'button' %>
	</div>
<% end %>
