<%= render 'shared/page_and_search', items: plants  %>

<div class='panel panel-primary table-responsive'>
	
	<div class="panel-heading clearfix">
		<div class='pull-right'><%= page_entries_info plants %></div>
		<%= left_dropdown_select "status", :name_status, Plant.select("name_status").group(:name_status)
			.count.to_a.sort{|a,b| b[1]<=>a[1]}.collect{|key,cnt| ["#{key} : #{cnt}", key]} %>
		<%= left_dropdown_select "accepted rank", :accepted_rank, Plant.select("accepted_rank").group(:accepted_rank)
			.count.to_a.sort{|a,b| b[1]<=>a[1]}.collect{|key,cnt| ["#{key} : #{cnt}", key]} %>
		<%= left_dropdown_select "matched rank", :matched_rank, Plant.select("accepted_rank").group(:matched_rank)
			.count.to_a.sort{|a,b| b[1]<=>a[1]}.collect{|key,cnt| ["#{key} : #{cnt}", key]} %>
	</div>
	
  <table class='table table-striped'>
    <thead>
      <tr>
        <th><%= sortable('genus','Genus') %></th>
        <th><%= sortable('species','Species') %></th>
				<th><%= sortable('family','Family') %></th>
				<th><%= sortable('order_name', 'Order') %></th>
        <th><%= sortable('pub_count','Publications') %></th>
        <th><%= sortable('result_count','Data points') %></th>
      </tr>
    </thead>

    <tbody>
      <% plants.each do |plant| %>
        <tr>
					<td><%= link_to plant.genus||'-', plant %></td>
					<td><%= link_to plant.species||'-', plant %></td>
					<td><%= plant.family %></td>
					<td><%= plant.order_name %></td>
          <td><%= link_to plant.pub_count, pubs_path(plant_id: plant.id) if plant.pub_count %></td>
          <td><%= link_to plant.result_count, results_path(plant_id: plant.id) if plant.result_count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>