<% content_for :title do -%>
 PlantFAdb: <%= @plant.name_string %>
<% end -%>

<% content_for :description do -%>
 Plant fatty acid compositions and phylogenetics. <%= @plant.name_string %>
<% end -%>

<% content_for :top_bar do %>
  <% unless @plant.published? %>
    <p class='bg-warning'>This is an unpublished draft. <%= link_to 'Click here to view all draft data', drafts_path %></p>
  <% end %>
	<h1 class="pagetitle">
    <%= @plant.name_html.html_safe %>
	</h1>
  <span class='title-note'><%= @plant.note %></span>
  <% if (@plant.genus||@plant.species) && (s_count = Species.new(@plant.genus,@plant.species).plants.count) > 1 %>
    <%#= link_to "View species page (#{pluralize(s_count, "variety")})", species_page_path(genus: @plant.genus, species: @plant.species) %>
  <% end %>
<% end %>

<% content_for :item_bar do %>
	<%= link_to 'Back', plants_path, class: 'btn btn-primary' %>
  <% if can? :edit, @plant %> <%= link_to 'Edit', edit_plant_path(@plant), class: 'btn btn-primary' %> <% end %>
<% end %>

<div class='container'>
	<div class='col-md-4'>
		<div class='well' style='overflow:scroll'>
			<legend>Classification</legend>
			<div style='min-height:300px'>
				<p>
				  <strong>Order:</strong>
				  <%= @plant.order_name %>
				</p>
				<p>
				  <strong>Family:</strong>
				  <%= @plant.family %>
				</p>
				<p>
				  <strong>Genus:</strong>
				  <%= @plant.genus %>
				</p>
				<p>
				  <strong>Species:</strong>
				  <%= @plant.species %>
				</p>
				<% if @plant.common_name %>
					<p>
					  <strong>Common Name:</strong>
					  <%= @plant.common_name %>
					</p>
				<% end %>
			
				<% unless @plant.tissue.blank? || @plant.tissue == 'Unknown' %>
          <p>
            <strong>Tissue</strong>
            <%= @plant.tissue %>
          </p>
				<% end %>
        
				<% unless @plant.tropicos_url.blank? %>
			    <legend>External Link(s)</legend>
					<% @plant.tropicos_url.split(";").each do |url| %>
			    	<%= link_to url, url, target: '_blank' %><br/>
					<% end %>
				<% end %>
			</div>
		</div>
		<div class='well'>
			<legend>Name Resolution</legend>
			<div class='row'>
				<div class='col-md-12  col-sm-12 col-xs-12'>
						<legend><h5>TNRS data</h5></legend>
					  <p>
					    <b>Name Submitted:</b>
							<%= @plant.tnrs_name_submitted %>
					  </p>
					  <p>
					    <b>Family:</b>
							<%= @plant.tnrs_family %>
					  </p>
					  <p>
					    <b>Name:</b>
							<%= @plant.tnrs_name %>
					  </p>
					  <p>
					    <b>Match:</b>
							<%= @plant.tnrs_match %>
					  </p>
				</div>
			</div>
      <% if @plant.sofa_family.present? || @plant.sofa_name.present? %>
  			<div class='row'>
  				<div class='col-md-12 col-sm-12 col-xs-12'>
  						<legend><h5>Original SOFA Data</h5></legend>
  					  <p>
  					    <b>Family:</b>
  					    <%= @plant.sofa_family %>
  					  </p>

  					  <p>
  					    <b>Name:</b>
  					    <%= @plant.sofa_name %>
  					  </p>
  						<br/>
  				</div>
		
  			</div>
			<% end %>
			<div class='clearfix row small'>
				<div class='col-md-12'>
					<br/>
					Plant names were updated using the Taxanomic Name Resolution Service (<%= link_to "http://tnrs.iplantcollaborative.org", "http://tnrs.iplantcollaborative.org" %>)<br/><br/>
					Note: There may be other accepted names for a species not displayed here
				</div>
			</div>
		</div>
	</div>
	<div class='col-md-8'>
		<div class='well' style='overflow:scroll'>
			<legend>Data</legend>
			<small>
				Mouse over individual data points for link to data and publication.<br/>
				The graphs are built from data from all publications in the database with this species name.
				In some cases this results in data from more than one variety included in the graph.
				In other cases the same species may have multiple graphs because of differences in names recorded for the plant.
				
			</small><br/><br/>
      <% datasets = @plant.published? ? @plant.datasets.published : @plant.datasets %>
      
			<span> 
				<%= link_to "View #{pluralize datasets.count,"Datasets"}", datasets_path(plant_id: @plant.id) %>
			</span>
        
			<% unless @fatty_acid_data.empty? %>
				<legend><h5>Fatty Acid Data</h5></legend>
					<div id='fa_plant_data_viz_0' style='min-width:700px;height:350px;position:relative'>
						
					</div>
					<div style='margin-left:5em;margin-right:3em'>
						<small><i>
						In cases where some publications report, for example 18:1, and other publications report 18:1-delta-9c (oleic),
						data are presented separately on the x-axis.
						</i></small>
					</div>
			<% end %>
			<% unless @parameter_data.empty? %>
			<legend><h5>Parameters</h5></legend>
			<p>Each bar represents data from a different publication or analysis within a publication</p>
				<% @parameter_data.each_with_index do |(key, subdata),index| %>
					<div id='p_plant_data_viz_<%= index %>' style='min-width:700px;height:350px'></div>
				<% end %>
			<% end %>
		</div>
	</div>
</div>

<hr/>



<style>
.scatter {
  font: 10px sans-serif;
}

.scatter {
  font: 10px sans-serif;
}

.scatter line,

.scatter .point {
  fill: steelblue;
  stroke: none;
	opacity: .65;
	pointer-events: none;
}

.scatter rect {
/*	fill: #e4e4e7;*/
	fill: none;
	stroke: none;
	cursor: pointer;
	pointer-events:all;
}
.axis {
  font: 12px sans-serif;
}
 
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
 
.x.axis path { 
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
</style>

<script>
function drawBoxPlot(data,el,unit){
	var  width = $(el.node()).width() //- margin.left - margin.right;
	var height = $(el.node()).height() //- margin.top - margin.bottom;

	var chart = d3.scatter()
		.height(height)
		.width(width)
		.ylabel(unit)
		.categoryMethod('delta_notation')
		.hoverMessage(function(d,el){
      var text = '<legend><h5>'+d.object.name+'</h5></legend>'
			text += 'Delta Notation: '+d.object.delta_notation+'<br/>'
			if(d.values.length ==1){
				text += 'Value: '+d.values[0]+'<br/><br/>'
			}else{
				text += 'Max: '+d3.max(d.values)+'<br/>'
				text += 'Min: '+d3.min(d.values)+'<br/><br/>'
				text += 'Click to view ' + d.values.length+' datapoints'
			}
      
      el.style('display','')
      .html(text)
		})
		.click(function(d){
			window.open('/fatty_acids/'+d.object.id+'?plant_id=<%= @plant.id %>')
		})
		
	el.datum(data).call(chart)
	
}


//https://bl.ocks.org/mbostock/4061502
$(document).ready(function(){

	// fatty acid graph
	var fa_data_0 = <%= "#{@fatty_acid_data.to_json}".html_safe %>
	var fa_el_0 = d3.select('#fa_plant_data_viz_0')
	drawBoxPlot(fa_data_0,fa_el_0,'GC-Area% or Weight%')
	
	
	// Oil Content parameter first
	
	<% if oil = @parameter_data["Oil content - weight-%"] %>
		<% @parameter_data.delete("Oil content - weight-%") %>
		var p_data_0 = <%="#{oil.map(&:to_f).unshift('Oil content - weight-%').to_json}".html_safe %>
		var chart = c3.generate({
			bindto: '#p_plant_data_viz_0',
			data: {
				columns: [p_data_0],
				types: {
					'Oil content - weight-%': 'bar'
				}
			}
		})
	<% end %>
	
	
	<% @parameter_data.each_with_index do |(key, subdata),index| %>
		<% index +=1 if oil %>
		<%= "var p_data_#{index} = #{subdata.map(&:to_f).unshift(key).to_json}".html_safe %>
		var chart = c3.generate({
			bindto: '<%= "#p_plant_data_viz_#{index}" %>',
			data: {
				columns: [<%= "p_data_#{index}" %>],
				types: {
					'<%= key %>': 'bar'
				}
			}
		})
	<% end %>
	
});
</script>




