<%= form_for(@pub) do |f| %>
  <% if @pub.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pub.errors.count, "error") %> prohibited this publication from being saved:</h2>

      <ul>
      <% @pub.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class='row'>
  <div class='col-md-6'>
	  <div class="field">
	    <%= f.label :wos_title, 'Title' %>*<br>
	    <%= f.text_field :wos_title, class: 'form-control', required: true %>
	  </div>
	  <div class="field">
	    <%= f.label :wos_authors, 'Authors' %>*<br>
	    <%= f.text_field :wos_authors, class: 'form-control', required: true  %>
	  </div>
	  <div class="field">
	    <%= f.label :wos_journal, 'Journal' %>*<br>
	    <%= f.text_field :wos_journal, class: 'form-control', required: true  %>
	  </div>
	  <div class="field">
	    <%= f.label :abstract, 'Abstract' %><br>
	    <%= f.text_area :abstract, class: 'form-control', rows: 10  %>
	  </div>
	</div>
  
	<div class='col-md-6'>
	  <div class="field">
	    <%= f.label :doi %><br>
      <div class='row'>
        <div class='col-md-7'>
          <%= f.text_field :doi, class: 'form-control' %>
        </div>
        <div class='col-md-5'>
          <%= link_to 'Lookup DOI (crossref)', '#', class: 'btn btn-info pull-right', id: 'doi_lookup' %>
        </div>
      </div>
	  </div>
	  <div class="field">
	    <%= f.label :wos_uid, 'UID' %><br>
	    <%= f.text_field :wos_uid, class: 'form-control' %>
	  </div>
	  <div class="field">
	    <%= f.label :url, 'URL' %><br>
	    <%= f.text_field :url, class: 'form-control'  %>
	  </div>
	  <div class="field">
	    <%= f.label :wos_year, 'Year' %><br>
	    <%= f.text_field :wos_year, class: 'form-control' %>
	  </div>
	  <div class="field">
	    <%= f.label :wos_volume, 'Volume' %><br>
	    <%= f.text_field :wos_volume, class: 'form-control'  %>
	  </div>
	  <div class="field">
	    <%= f.label :wos_pages, 'Pages' %><br>
	    <%= f.text_field :wos_pages, class: 'form-control'  %>
	  </div>
	  <div class="field">
	    <%= f.label :note, 'Note' %><br>
	    <%= f.text_field :note, class: 'form-control'  %>
	  </div>
  </div>  

</div>
<br/>
<div class='row'>
  <div class="col-md-6 actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
  
  <% unless @pub.original_pubs.empty? %>
	<div class='well col-md-4'>
		<div style='height:300px;overflow-y:auto'>
			<legend>SOFA citation(s)</legend>
			<% @pub.original_pubs.each do |pub| %>
				<div class='well'>
					<p>
					  <strong>Authors:</strong>
					  <%= pub.authors %>
					</p>
			
					<p>
					  <strong>Journal:</strong>
					  <%= pub.journal %>
					</p>
			
					<p>
					  <strong>Year:</strong>
					  <%= pub.year %>
					</p>

					<p>
					  <strong>Volume:</strong>
					  <%= pub.volume %>
					</p>

					<p>
					  <strong>Page:</strong>
					  <%= pub.page %>
					</p>
				</div>
			<% end %>
		</div>
		
		<div>
			<legend>SOFA Table(s)</legend>
			<% @pub.sofa_tabs.each do |tab| %>
				<div style='float:left;margin:0.25em'><%= link_to (tab.sofa_tab_id||'#'), "http://sofa.mri.bund.de/Show_ResultDetail.php?Tab_ID="+(tab.sofa_tab_id||'') %></div>
			<% end %>
		</div>
	</div>
	<% end %>
</div>

<% end %>
