<%= form_for(@pub) do |f| %>
  <% if @pub.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pub.errors.count, "error") %> prohibited this publication from being saved:</h2>

      <ul>
      <% @pub.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class='row'>
	<div class='col-md-6'>
	  <div class="field">
			
	    <%= f.label :doi %> <%= link_to 'Lookup (crossref)', '#', class: 'btn btn-info pull-right', id: 'doi_lookup' %><br>
	    <%= f.text_field :doi, class: 'form-control' %>
	  </div>
	  <div class="field">
	    <%= f.label :wos_uid %> <%= link_to 'Lookup (local db)', '#', class: 'btn btn-info pull-right', id: 'wos_uid_lookup' %><br>
	    <%= f.text_field :wos_uid, class: 'form-control' %>
	  </div>
	  <div class="field">
	    <%= f.label :wos_title, 'Title' %><br>
	    <%= f.text_field :wos_title, class: 'form-control' %>
	  </div>		
	  <div class="field">
	    <%= f.label :wos_year, 'Year' %><br>
	    <%= f.text_field :wos_year, class: 'form-control' %>
	  </div>
	  <div class="field">
	    <%= f.label :wos_authors, 'Authors' %><br>
	    <%= f.text_field :wos_authors, class: 'form-control'  %>
	  </div>
	  <div class="field">
	    <%= f.label :wos_journal, 'Journal' %><br>
	    <%= f.text_field :wos_journal, class: 'form-control'  %>
	  </div>
	  <div class="field">
	    <%= f.label :wos_volume, 'Volume' %><br>
	    <%= f.text_field :wos_volume, class: 'form-control'  %>
	  </div>
	  <div class="field">
	    <%= f.label :wos_pages, 'Pages' %><br>
	    <%= f.text_field :wos_pages, class: 'form-control'  %>
	  </div>
	  <div class="field">
	    <%= f.label :url, 'URL' %><br>
	    <%= f.text_field :url, class: 'form-control'  %>
	  </div>
	  <div class="field">
	    <%= f.label :abstract, 'Abstract' %><br>
	    <%= f.text_area :abstract, class: 'form-control', rows: 10  %>
	  </div>
	</div>
	
	<div class='well col-md-4'>
		<div style='height:300px;overflow-y:auto'>
			<legend>SOFA citation(s)</legend>
			<% if @pub.original_pubs.empty? %>
				<% pubs = [@pub]  %>
			<% else %>
				<% pubs = @pub.original_pubs %>
			<% end %>
			<% pubs.each do |pub| %>
				<div class='well'>
					<p>
					  <strong>Authors:</strong>
					  <%= pub.authors %>
					</p>
			
					<p>
					  <strong>Journal:</strong>
					  <%= pub.journal %>
					</p>
			
					<p>
					  <strong>Year:</strong>
					  <%= pub.year %>
					</p>

					<p>
					  <strong>Volume:</strong>
					  <%= pub.volume %>
					</p>

					<p>
					  <strong>Page:</strong>
					  <%= pub.page %>
					</p>
				</div>
			<% end %>
		</div>
		
		<div>
			<legend>SOFA Table(s)</legend>
			<% @pub.sofa_tabs.each do |tab| %>
				<div style='float:left;margin:0.25em'><%= link_to (tab.sofa_tab_id||'#'), "http://sofa.mri.bund.de/Show_ResultDetail.php?Tab_ID="+(tab.sofa_tab_id||'') %></div>
			<% end %>
		</div>
	</div>
	
</div>
<br/>
<div class="actions">
  <%= f.submit class: 'btn btn-primary' %>
</div>
	
<% end %>
