<% content_for :top_bar do %>
	<h1 class="pagetitle">Publications</h1>
<% end %>

<% content_for :item_bar do %>
    <%= link_to 'Download', params.merge(format: 'csv'), class: 'btn btn-primary'%>
<% end %>

<%= render 'shared/page_and_search', items: @pubs  %>

<div class='panel panel-primary table-responsive'>
	
	<div class="panel-heading clearfix">
		<div class='pull-right'><%= page_entries_info @pubs %></div>
	</div>
	
  <table class='table table-striped'>
    <thead>
      <tr>
				<th style='width:20%'><%= sortable "wos_authors", "Authors" %></th>
				<th><%= sortable "wos_year", "Year"%></th>
				<th style='width:30%'><%= sortable "wos_title", "Title" %></th>
				<th><%= sortable "wos_journal", "Journal" %></th>
        <th><%= sortable "wos_volume", "Volume" %></th>
				<th>Pages</th>
				<th><%= sortable "doi", "DOI" %></th>
				<th><%= sortable "wos_uid", "UID" %></th>
        <th><%= sortable "result_count", "Data points" %></th>
      </tr>
    </thead>

    <tbody>
      <% @pubs.each do |publication| %>
        <tr>
					<td><%= link_to publication.wos_authors||"Unknown", publication %></td>
					<td><%= publication.wos_year %></td>
					<td><%= publication.wos_title %></td>
					<td><%= publication.wos_journal %></td>
					<td><%= publication.wos_volume %></td>
					<td><%= publication.wos_pages %></td>
					<td><%= publication.doi %></td>
					<td><%= publication.wos_uid %></td>
          <td><%= link_to publication.results.count, results_path(pub_id: publication.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>