<% content_for :title do -%>
 PlantFAdb: Literature
<% end -%>

<% content_for :description do -%>
  Information on more than 3000 publications on plant fatty acids with links to species analyzed, analytical data, and full text of publications
<% end -%>

<% content_for :top_bar do %>
	<h1 class="pagetitle">Literature Listing</h1>
  <p>
    Information on more than 3000 publications on plant fatty acids with links to species analyzed, analytical data, and full text of publications
  </p>
	<% if @plant %>
		<p>
			Filtering on plant: <b><%= link_to @plant.display_name, @plant %></b>
		</p>
	<% end %>
	<% unless params[:title_query].blank? %>
		<p>Filtering on Title: <b><%= params[:title_query] %></b></p>
	<% end %>
	<% unless params[:author_query].blank? %>
		<p>Filtering on Author: <b><%= params[:author_query] %></b></p>
	<% end %>
	<% unless params[:abstract_query].blank? %>
		<p>Filtering on Abstract: <b><%= params[:abstract_query] %></b></p>
	<% end %>
	<% unless params[:journal_query].blank? %>
		<p>Filtering on Journal: <b><%= params[:journal_query] %></b></p>
	<% end %>
	<% unless params[:year_query].blank? %>
		<p>Filtering on Year: <b><%= params[:year_query] %></b></p>
	<% end %>
	<% if @species %>
		<p>
			Filtering on: <b><%= link_to @species.name, species_page_path(genus: @species.genus, species: @species.species) %></b>
		</p>
	<% end %>
<% end %>

<% content_for :item_bar do %>
		<% if current_user && current_user.is_admin? %>
			<%#= link_to "Condense Using WOS UID", condense_wos_pubs_path, class: 'btn btn-primary',
			method: :post,
			data: {confirm: "This will take some time to run. ALL pubs with the same UID will be condensed into a single new publication. Pubs with a blank UID or 'none' will be skipped"} %>
			<%#= link_to "Condense Using DOI", condense_doi_pubs_path, class: 'btn btn-primary',
			method: :post,
			data: {confirm: "This will take some time to run. ALL pubs with the same DOI will be condensed into a single new publication. Pubs with a blank DOI or a doi of 'none' will be skipped"} %>
		<% end %>
    <%= link_to 'Download', params.merge(format: 'csv'), class: 'btn btn-primary'%>
<% end %>

<div class='row'>
	<div class='col-xs-12 col-sm-7 col-md-8 pull-left'>
		<ul class="pagination">
			<%= paginate @pubs %>
		</ul>
	</div>
	<div class='col-xs-12 col-sm-5 col-md-4 search'>
    <%= form_tag nil, method: :get do %>
		<% params.except(:commit,:action,:controller,:utf8,:query,:page).each do |parameter, val| %>
			<%= hidden_field_tag parameter, val %>
		<% end %>
      <div class='form-inline pull-left-sm pull-right-md'>
				<div class='form-group'>
          <a href='<%= Page.path('help') %>' class='glyphicon glyphicon-question-sign' data-toggle='tooltip' data-html='true' title="
            Simple search includes Author, title, journal, abstract and year. <br/><br/>
            
            Diacritical marks such as German umlaut(ä, ö and ü) are not recorded consistently in the literature and should be searched with more than one spelling. <br/> e.g. <br/>
            Ölsäure -> Oelsaeure or Olsaure <br/>
            Aitzetmüller -> Aitzetmueller or Aitzetmuller<br/><br/>
            
            Click for more details.
          "></a>
			    <label for="query">Search:</label>
					<%= text_field_tag :query, params[:query], class: 'form-control' %>
					<%= submit_tag "Go", class: "btn btn-info"%>
				</div>
					<br/>
					<div class='pull-left-sm pull-right-md'>
						<%= link_to "Advanced Query", '#', onclick: "$('#advanced_search').toggle()"%>
					</div>
			</div>
    <% end %>
	</div>
</div>

<div id='advanced_search' class='well form-horizontal' style='display:none;width:100%'>
	<%= form_tag nil, method: :get do %>
		
		<div class='form-group'>
			<%= label_tag :title_query, "Title", class: 'col-sm-2' %>
			<div class='col-sm-8'>
				<%= text_field_tag :title_query, params[:title_query], class: 'form-control' %>
			</div>
		</div>
    
		<div class='form-group'>
			<%= label_tag :author_query, "Author", class: 'col-sm-2' %>
			<div class='col-sm-8'>
				<%= text_field_tag :author_query, params[:author_query], class: 'form-control' %>
			</div>
		</div>
		
		<div class='form-group'>
			<%= label_tag :abstract_query, "Abstract", class: 'col-sm-2' %>
			<div class='col-sm-8'>
				<%= text_field_tag :abstract_query, params[:abstract_query], class: 'form-control' %>
			</div>
		</div>
    
		<div class='form-group'>
			<%= label_tag :journal_query, "Journal", class: 'col-sm-2' %>
			<div class='col-sm-8'>
				<%= text_field_tag :journal_query, params[:journal_query], class: 'form-control' %>
			</div>
		</div>
    
		<div class='form-group'>
			<%= label_tag :year_query, "Year", class: 'col-sm-2' %>
			<div class='col-sm-8'>
				<%= text_field_tag :year_query, params[:year_query], class: 'form-control' %>
			</div>
		</div>
		
		<%= submit_tag "Search", class: "btn btn-info"%>
		<%= link_to "Clear Query", pubs_path, class: 'btn btn-warning pull-right' %>
	<% end %>
</div>

<div class='panel table-responsive'>
	
	<div class="panel-heading clearfix">
		<div class='pull-right'><%= page_entries_info @pubs %></div>
	</div>
	
  <table class='table table-striped'>
    <thead>
      <tr>
				<th style='width:20%'><%= sortable "wos_authors", "Authors" %></th>
				<th><%= sortable "wos_year", "Year"%></th>
				<th style='width: 20px'></th>
				<th style='width:30%'><%= sortable "wos_title", "Title" %></th>
				<th><%= sortable "wos_journal", "Journal" %></th>
        <th><%= sortable "wos_volume", "Volume" %></th>
				<th>Pages</th>
				<th><%= sortable "doi", "DOI" %></th>
				<th><%= sortable "wos_uid", "UID" %></th>
        <th><%= sortable "result_count", "Data points" %></th>
      </tr>
    </thead>

    <tbody>
      <% @pubs.each do |publication| %>
        <tr>
					<td><%= link_to publication.wos_authors||"Unknown", publication %></td>
					<td><%= publication.wos_year %></td>
					<td class='pub-tooltip'>
						<% if publication.abstract %>
							<a tabindex="0" class="glyphicon glyphicon-text-color" role="button" data-toggle="popover" data-trigger="focus" title="Abstract" data-content="<%= publication.abstract %>"></a>
						<% end %>
					</td>
					<td><%= publication.wos_title %></td>
					<td><%= publication.wos_journal %></td>
					<td><%= publication.wos_volume %></td>
					<td><%= publication.wos_pages %></td>
					<td><%= link_to publication.doi, "https://doi.org/#{publication.doi}", target: '_blank' if publication.doi && publication.doi.downcase != 'none' %></td>
					<td><%= publication.wos_uid %></td>
          <td><%= link_to publication.result_count||0, datasets_path(pub_id: publication.id, plant_id: @plant) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class='row'>
	<div class='col-xs-12 col-sm-7 col-md-8'>
		<ul class="pagination pull-left">
			<%= paginate @pubs %>
		</ul>
	</div>
</div>