<% content_for :top_bar do %>
	<h1 class="pagetitle">Publications</h1>
<% end %>

<% content_for :item_bar do %>
    <%= link_to 'Download', params.merge(format: 'csv'), class: 'btn btn-primary'%>
<% end %>

<%= render 'shared/page_and_search', items: @pubs  %>

<div class='panel panel-primary table-responsive'>
	
	<div class="panel-heading clearfix">
		<div class='pull-right'><%= page_entries_info @pubs %></div>
	</div>
	
  <table class='table table-striped'>
    <thead>
      <tr>
        <th style="width:5%"><%= sortable "year" %></th>
        <th style="width:15%"><%= sortable "authors" %></th>
        <th style="width:15%"><%= sortable "journal" %></th>
        <th style="width:5%"><%= sortable "volume" %></th>
        <th style="width:5%"><%= sortable "page" %></th>
        <th style="width:5%;white-space:nowrap"><%= sortable "result_count", "Data points" %></th>
      </tr>
    </thead>

    <tbody>
      <% @pubs.each do |publication| %>
        <tr>
          <td><%= link_to publication.year, publication if publication.year %></td>
          <td><%= link_to publication.authors, publication if publication.authors %></td>
          <td><%= link_to publication.journal, publication if publication.journal %></td>
          <td><%= link_to publication.volume, publication if publication.volume %></td>
          <td><%= link_to publication.page, publication if publication.page %></td>          
          <td><%= link_to publication.results.count, results_path(pub_id: publication.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>