<% content_for :top_bar do %>
	<h1 class="pagetitle"><%= @pub.wos_title %></h1>
<% end %>

<% content_for :item_bar do %>
	<%= link_to 'Back', pubs_path, class: 'btn btn-primary' %>
  <% if can? :edit, @pub %> <%= link_to 'Edit', edit_pub_path(@pub), class: 'btn btn-primary' %> <% end %>
<% end %>

<% if @pub.abstract %>
<div class='row'>
	<div class='well col-md-12'>
		<legend>Abstract</legend>
		<%= @pub.abstract %>
	</div>
</div>
<% end %>

<div class='row'>
	<div class='well col-md-8' style='height:400px;overflow-y:auto'>
		<legend>Citation</legend>
		<!--		<p>
				  <strong>Title:</strong>
				  <#%= @pub.wos_title %>
				</p> -->

		<p>
		  <strong>Authors:</strong>
		  <%= @pub.wos_authors %>
		</p>

		<p>
		  <strong>Journal:</strong>
		  <%= @pub.wos_journal %>
		</p>
		
		<p>
		  <strong>Year:</strong>
		  <%= @pub.wos_year %>
		</p>
		
		<p>
		  <strong>Volume:</strong>
		  <%= @pub.wos_volume %>
		</p>

		<p>
		  <strong>Page:</strong>
		  <%= @pub.wos_pages %>
		</p>
		
		<p>
		  <strong>UID:</strong>
		  <%= @pub.wos_uid %>
		</p>
		
		<% if @pub.url %>
			<p>
			  <strong>URL:</strong>
			  <%= link_to @pub.url, @pub.url, target: '_blank'%>
			</p>
		<% end %>
		
		<% unless @pub.doi.blank? || @pub.doi.downcase == 'none' %>
			<p>
			  <strong>DOI:</strong>
			  <%= link_to @pub.doi, "https://doi.org/#{@pub.doi}", target: '_blank'%>
			</p>
		<% end %>
	</div>
	<div class='well col-md-4'>
		<div style='height:255px;overflow-y:auto'>
			<legend>SOFA citation(s)</legend>
			<% if @pub.original_pubs.empty? %>
				<% pubs = [@pub]  %>
			<% else %>
				<% pubs = @pub.original_pubs %>
			<% end %>
			<% pubs.each do |pub| %>
				<div class='well'>
					<p>
					  <strong>Authors:</strong>
					  <%= pub.authors %>
					</p>
			
					<p>
					  <strong>Journal:</strong>
					  <%= pub.journal %>
					</p>
			
					<p>
					  <strong>Year:</strong>
					  <%= pub.year %>
					</p>

					<p>
					  <strong>Volume:</strong>
					  <%= pub.volume %>
					</p>

					<p>
					  <strong>Page:</strong>
					  <%= pub.page %>
					</p>
				</div>
			<% end %>
		</div>
		
		<div style='height:105px;overflow-y:auto'>
			<legend>SOFA Table(s)</legend>
			<% @pub.sofa_tabs.each do |tab| %>
				<div style='float:left;margin:0.25em'><%= link_to (tab.sofa_tab_id||'#'), tab.sofa_url %></div>
			<% end %>
		</div>
	</div>
</div>


<hr/>

<h2 class='smalltitle'>Plant(s)</h2>
<table class="table">
  <thead>
    <th>Genus</th>
    <th>Species</th>
		<th>Order</th>
    <th>Family</th>
		<th>Data Points</th>
  </thead>
  <tbody>
    <% @pub.plants.order("genus, species").uniq.each do |plant| %>
    <tr>
      <td><%= link_to plant.genus||"Unknown", plant %></td>
      <td><%= link_to plant.species||"Unknown", plant %></td>
      <td><%= plant.order_name %></td>
      <td><%= plant.family %></td>
			<td><%= link_to plant.results.viewable.where(pub_id: @pub.id).count, results_path(pub_id: @pub.id, plant_id: plant.id) %></td>
    </tr>
    <% end %>
  </tbody>
</table>

