<%= form_for(@measure) do |f| %>
  <% if @measure.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@measure.errors.count, "error") %> prohibited this measure from being saved:</h2>

      <ul>
      <% @measure.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :delta_notation %><br>
    <%= f.text_field :delta_notation %>
  </div>
  <div class="field">
    <%= f.label :cas_number %><br>
    <%= f.text_field :cas_number %>
  </div>
  <div class="field">
    <%= f.label :sofa_mol_id %><br>
    <%= f.text_field :sofa_mol_id %>
  </div>
  <div class="actions">
    <%= f.submit class: 'button' %>
  </div>
<% end %>
