<h2 class='smalltitle'>Results</h2>
<div class='row'>
	<div class='col-md-8'>
		<ul class="pagination">
			<%= paginate @results %>
		</ul>
	</div>
	<div class='col-md-4'>
		<%= page_entries_info @results %>
	</div>
</div>
<table class="table">
  <thead>
    <!-- <th>Delta Notation / Name</th> -->
    <th><%= sortable 'plants.family', "Plant" %></th>
    <th><%= sortable 'pubs.authors', "Publication" %></th>
    <th style='width:10%'><%= sortable 'value' %></th>
    <th style='width:10%'><%= sortable 'unit' %></th>
  </thead>
  <tbody>
    <% @results.each do |result| %>
    <tr>
      <!-- <td><%= result.measure.delta_notation %></td> -->
      <td><%= result.plant.try :display_name %></td>
      <td><%= link_to result.pub.display_name, result.pub if result.pub%></td>
      <td><%= result.value %></td>
      <td><%= result.unit %></td>
    </tr>
    <% end %>
  </tbody>
</table>



