<h2 class='smalltitle'>Results</h2>
  <div class="pagination">
    <span style="float:left"><%= paginate @results %></span>
    <span style="float:right;margin-right:2em"><%= page_entries_info @results %></span>
  </div>
<table class="listing-solid-grey">
  <thead>
    <!-- <th>Delta Notation / Name</th> -->
    <th><%= sortable 'plants.family', "Plant" %></th>
    <th><%= sortable 'publications.authors', "Publication" %></th>
    <th><%= sortable 'remarks' %></th>
    <th><%= sortable 'result_count', "Results" %></th>
    <th style='width:10%'><%= sortable 'value' %></th>
    <th style='width:10%'><%= sortable 'unit' %></th>
  </thead>
  <tbody>
    <% @results.each do |result| %>
    <tr>
      <!-- <td><%= result.measure.delta_notation %></td> -->
      <td><%= result.publication.plant.display_name %></td>
      <td><%= link_to result.publication.display_name, result.publication %></td>
      <td><%= result.publication.remarks %></td>
      <td><%= result.publication.results.count %></td>
      <td><%= result.value %></td>
      <td><%= result.unit %></td>
    </tr>
    <% end %>
  </tbody>
</table>