<% content_for :top_bar do %>
	<h1 class="pagetitle">Measures</h1>
<% end %>

<% content_for :item_bar do %>
    <%#= link_to 'New Measure', new_measure_path, class: 'btn btn-primary'%>
<% end %>

<%= render 'shared/page_and_search', items: @measures  %>

<div class='container'>
  <table class='table table-custom'>
    <thead>
      <tr>
          <th>Type</th>
          <th>Delta notation</th>
          <th>Cas number</th>
          <th>Sofa mol</th>
          <th>Options</th>
      </tr>
    </thead>

    <tbody>
      <% @measures.each do |measure| %>
        <tr>
            <td><%= measure.type %></td>
            <td><%= measure.delta_notation %></td>
            <td><%= measure.cas_number %></td>
            <td><%= measure.sofa_mol_id %></td>
            <td>
            <%= link_to 'Show', measure %> |
            <%= link_to 'Edit', edit_measure_path(measure) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>