<% content_for :top_bar do %>
	<h1 class="pagetitle">Measure: <%= @measure.id %></h1>
<% end %>

<% content_for :item_bar do %>
	<%= link_to 'Back', measures_path, class: 'button' %>
  <%= link_to 'Edit', edit_measure_path(@measure), class: 'button' %>
<% end %>

<p>
  <strong>Type:</strong>
  <%= @measure.type %>
</p>

<p>
  <strong>Delta notation:</strong>
  <%= @measure.delta_notation %>
</p>

<p>
  <strong>Cas number:</strong>
  <%= @measure.cas_number %>
</p>

<p>
  <strong>Sofa mol:</strong>
  <%= @measure.sofa_mol_id %>
</p>




