<% content_for :top_bar do %>
	<h1 class="pagetitle">Tocopherol: <%= @tocopherol.id %></h1>
<% end %>

<% content_for :item_bar do %>
	<%= link_to 'Back', tocopherols_path, class: 'button' %>
  <%= link_to 'Edit', edit_tocopherol_path(@tocopherol), class: 'button' %>
<% end %>

<p>
  <strong>Delta notation:</strong>
  <%= @tocopherol.delta_notation %>
</p>

<p>
  <strong>Cas number:</strong>
  <%= @tocopherol.cas_number %>
</p>

<p>
  <strong>Sofa mol:</strong>
  <%= @tocopherol.sofa_mol_id %>
</p>

<hr/>
<%= render partial: "measures/results", locals: {results: @tocopherol.results} %>


