<% content_for :title do -%>
 PhyloFAdb: Data Management
<% end -%>

<% content_for :top_bar do %>
	<h1 class="pagetitle">Data Management</h1>
<% end %>

<% content_for :item_bar do %>
  <%= link_to "Add Publication", new_pub_path, class: 'btn btn-primary' %>
  <%= link_to "Add Fatty Acid", new_fatty_acid_path, class: 'btn btn-primary' %>
  <%= link_to "Add Plant", new_plant_path, class: 'btn btn-primary' %>
<% end %>

Pending updates are shown below. They will be reviewed by the administrator before public release.

<div class='panel table-responsive'>
	<div class='pull-right'><%= page_entries_info @drafts %></div>	
  <table class='table table-striped table-centered'>
    <thead>
      <tr>
				<th></th>
				<th>Name</th>
				<th>Type</th>
        <% if current_user.is_admin? %>
				  <th>User</th>
        <% end %>
        <th>Last Update</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @drafts.each do |draft| %>
      <% item = draft.reify %>
        <tr>
					<td>
            <span class='<%= draft.event %>-tag'>
              <%= draft.create? ? "New" : draft.destroy? ? "Delete" : "Update"  %>
            </span>
          </td>
          <td><%= item.display_name %></td>
          <td><%= item.display_type %></td>
          <% if current_user.is_admin? %><td><%= User.find_by(id:draft.whodunnit).try(:email) %></td><% end %>
          <td><%= local_time_ago(draft.updated_at) %></td>
          <td style='text-align:right'>
            <% if current_user.is_admin? %>
              <%= link_to 'Publish', draft_path(draft), method: :put, class: 'btn btn-success', style: 'margin-right:1em' %>
            <% end %>
            <%= link_to 'Details', draft.create? ? draft.item : draft_path(draft), class: 'btn btn-info', style: 'margin-right:1em' %>
            <%= link_to 'Revert', draft_path(draft), method: :delete, class: 'btn btn-default' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>