<% content_for :top_bar do %>
	<h1 class="pagetitle">Draft <%= @draft.id %></h1><br/>
  <span class='<%= @draft.event %>-tag'><%= @draft.create? ? "New" : @draft.destroy? ? "Delete" : "Update"  %></span><br/>
<% end %>

<% content_for :item_bar do %>
	<%= link_to 'Back', drafts_path, class: 'btn btn-primary' %>
<% end %>

<div class='container'>
<div class='pull-left'>
  <b>User</b>: <%= User.find_by(id: @draft.whodunnit).try(:email)  %>
</div>

<div class='col-md-6  pull-right'>
  <% if @draft.item_type=='Result'%>
    <div>
      This Result is managed by the parent dataset.<br/>
      Publish the dataset to publish this draft: <br/>
      <%= link_to "View dataset: #{@draft.item.dataset.display_name}", @draft.item.dataset.try(:draft) ? draft_path(@draft.item.dataset.draft) : @draft.item.dataset, class: 'btn btn-success' %>
      <%= link_to 'Revert', draft_path(@draft), method: :delete, class: 'btn btn-default' %>
    </div>
    
  <% else %>
    <%= link_to 'Publish', draft_path(@draft), method: :put, class: 'btn btn-success', style: 'margin-right:1em' %>
    <%= link_to 'Revert', draft_path(@draft), method: :delete, class: 'btn btn-default' %>
  <% end %>
</div>

</div>

<br/>

<div class='container'>
  <div class='well col-sm-12 col-md-5'>
    <legend>Item details</legend>
    <b>Type:</b> <%= @draft.item.class.model_name.human %><br/>
    <b>Name:</b> <%= @draft.item.display_name %><br/><br/>
    <%= link_to "Click here to view current item", @draft.item %>
  </div>

  <div class='col-md-1'></div>
  <% if @draft.update? %>
    <div class='well col-sm-12 col-md-6'>
      <legend>Changes</legend>
      <table class='table'>
        <thead>
          <th>Field</th>
          <th>Old</th>
          <th>New</th>
        </thead>
          <% @draft.changeset.each do |field, vals| %>
            <tr>
              <td><%= field %></td>
              <td><%= vals[0] %></td>
              <td><%= vals[1] %></td>
            </tr>
          <% end %>
      </table>
    </div>
  <% end %>
</div>

<div class='container'>
  <div class='panel panel-default'>
    <div class='panel-heading'><h2 class="panel-title">Dependent Items</h2></div>
    <div class='panel-body'>
      <% unless (@draft.draft_publication_dependencies||[]).empty? %>
          <%= render :partial => "dependencies", locals: {dependencies: @draft.draft_publication_dependencies, name: 'Publish'} %>
      <% end %>
      <% unless (@draft.draft_reversion_dependencies||[]).empty? %>
          <%= render :partial => "dependencies", locals: {dependencies: @draft.draft_reversion_dependencies, name: 'Revert'} %>
      <% end %>
    </div>
  </div>
</div>
