<% content_for :top_bar do %>
	<h1 class="pagetitle">Triacylglycerols</h1>
<% end %>

<% content_for :item_bar do %>
    <%= link_to 'New Triacylglycerol', new_triacylglycerol_path, class: 'btn btn-primary'%>
    <%= link_to 'Download', params.merge(format: 'csv'), class: 'btn btn-primary'%>
    <%= form_tag triacylglycerols_path, method: :get do %>
      <div style="float:right;padding-left:1em"><%= submit_tag "Go", class: "button"%></div>
      <div style="float:right">Search: <%= text_field_tag :query, params[:query] %></div>
    <% end %>
<% end %>
  <div class="pagination">
    <span style="float:left"><%= paginate @triacylglycerols %></span>
    <span style="float:right;margin-right:2em"><%= page_entries_info @triacylglycerols %> Matching Results</span>
  </div>

<div class='container'>
  <table class='table table-custom'>
    <thead>
      <tr>
          <th><%= sortable "delta_notation", "Name" %></th>
          <th><%= sortable "sofa_mol_id" %></th>
          <th>Options</th>
      </tr>
    </thead>

    <tbody>
      <% @triacylglycerols.each do |triacylglycerol| %>
        <tr>
            <td><%= triacylglycerol.delta_notation %></td>
            <td><%= triacylglycerol.sofa_mol_id %></td>
            <td>
            <%= link_to 'Show', triacylglycerol %> |
            <%= link_to 'Edit', edit_triacylglycerol_path(triacylglycerol) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>